<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YakaHack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <YakaHack.Properties.Settings>
            <setting name="AutoInjectSaver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="FirstKey" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="SecondKey" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="AKey" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="InserChineseHere" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key1" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key6" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="Key7" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="All100GeneratedKeys" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="RealKey" serializeAs="String">
                <value>// ISSUE: unable to decompile the method.</value>
            </setting>
            <setting name="bois" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="urmomLocationJK" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DoneUpdating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApiMode" serializeAs="String">
                <value>WeAreDevs API V1</value>
            </setting>
            <setting name="CommandBarData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeMessage" serializeAs="String">
                <value>True</value>
            </setting>
        </YakaHack.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>